In [1]:
%reload_ext autoreload
%autoreload 2

In [49]:
from classes import *

In [50]:
salary = Salary(100000)

In [51]:
spendstrat = SpendingStrategy(
    base_spending=0.6,
    retirement_saving=0.15,
    disp_spend=0.15,
    disp_give=0.1
)

In [70]:
genstrat = GenerosityStrategy(
    straight_percent=0.5,
    investment_draw_down_rate=0.04,
    legacy_give_percent=0.2
)

In [71]:
pm = PortfolioManager(
    spendstrat=spendstrat,
    genstrat=genstrat,
    salary=salary,
)

pm.init_retirement_savings(9450+2241+27705) # 12/23/23
pm.init_giving_savings(4150)# 12/23/23
pm.df

,Salary,Total Income,Retirement Savings,Giving Savings,Asset Savings,years_from_start,Total Giving
0,100000,100000,39396,4150,0,0,0

In [72]:
for i in range(12 * 40):
    years_from_start = (i) / 12
    pm.simulate_month(years_from_start)

TypeError: Asset.__init__() missing 1 required positional argument: 'years_from_start'

In [68]:
pm.df

,Salary,Total Income,Retirement Savings,Giving Savings,Asset Savings,years_from_start,Total Giving
0,100000,100000.00,39396.000000,4150.000000,0.000000,0.000000,0.000000
1,100000,99999.96,57722.108788,5562.211503,17966.457013,0.916667,1329.478429
2,100000,96999.99,77887.035393,7051.854557,37735.644853,1.916667,2716.853240