In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from classes import *

In [25]:
salary = Salary(100000)

In [30]:
spendstrat = SpendingStrategy(
    base_spending=0.6,
    retirement_saving=0.15,
    disp_spend=0.15,
    disp_give=0.1
)

In [31]:
genstrat = GenerosityStrategy(
    straight_percent=0.5,
    investment_draw_down_rate=0.04,
    legacy_give_percent=0.2
)

In [32]:
pm = PortfolioManager(
    spendstrat=spendstrat,
    genstrat=genstrat,
    salary=salary,
)

pm.init_retirement_savings(9450+2241+27705) # 12/23/23
pm.init_giving_savings(4150)# 12/23/23
pm.df

,Salary,Total Income,Retirement Savings,Giving Savings,Asset Savings,years_from_start,Total Giving
0,100000,100000,39396,4150,0,0,0

In [34]:
for i in range(11 * 1):
    years_from_start = i+1 / 12
    print(years_from_start)
    pm.simulate_month(years_from_start)