In [1]:
%reload_ext autoreload
%autoreload 2

In [108]:
from classes import *

In [109]:
salary = Salary(100000)

In [110]:
spendstrat = SpendingStrategy(
    base_spending=0.5,
    retirement_saving=0.15,
    disp_spend=0.15,
    disp_give=0.1
)

In [111]:
genstrat = GenerosityStrategy(
    straight_percent=0.5,
    investment_draw_down_rate=0.04,
    legacy_give_percent=0.2
)

In [112]:
pm = PortfolioManager(
    spendstrat=spendstrat,
    genstrat=genstrat,
    salary=salary,
)

pm.init_retirement_savings(9450+2241+27705) # 12/23/23
pm.init_giving_savings(4150)# 12/23/23
pm.df

,Salary,Total Income,Retirement Savings,Giving Savings,Asset Savings,years_from_start,Total Giving
0,100000,100000,39396,4150,0,0,0

In [113]:
for i in range(12 * 3):
    years_from_start = (i) / 12
    pm.simulate_month(years_from_start)
pm.df

In [107]:
pm.df

,Salary,Total Income,Retirement Savings,Giving Savings,Asset Savings,years_from_start,Total Giving
0,100000.0,100000.00,39396.00,4150.00,0.00,0.00,0.00
1,100000.0,103503.96,57722.11,6032.72,25153.04,0.92,1793.15
2,105000.0,82254.00,78582.39,8099.11,54046.77,1.92,3741.95